In [3]:
import numpy as np
import pandas as pd
from sklearn.metrics import roc_auc_score, log_loss
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import StratifiedKFold
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import pickle

In [3]:
data = pd.read_csv(r"E:\Machine Learning-A-Z-Codes-Datasets\major project\fertilizer prediction\dataset\Fertilizer Prediction.csv")

In [4]:
def null_check(data):
    return data.isnull().sum(axis = 0).reset_index();

In [5]:
def duplicate_check(data):
    duplicates = data.duplicated().sum(axis=0)
    print(f'Duplicated exist {duplicates == True}')
    return

In [6]:
def data_information(data):
    print('Data Information Table')
    display(data.info(verbose = True,show_counts=True))
    print('\n Data Head Table')
    display(data.head())
    print('\n Data Describe Information Table')
    display(data.describe())
    print(f'\n Data Shape: {data.shape}')
    print(f'\n Data Columns {data.columns}')
    print('\n Data Null item Information Table')
    display(null_check(data))
    print('\n Data duplicate item Information Table')
    duplicate_check(data)
    return

In [7]:
data_information(data)

Data Information Table
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Temparature      99 non-null     int64
 1   Humidity         99 non-null     int64
 2   Moisture         99 non-null     int64
 3   Soil Type        99 non-null     object
 4   Crop Type        99 non-null     object
 5   Nitrogen         99 non-null     int64
 6   Potassium        99 non-null     int64
 7   Phosphorous      99 non-null     int64
 8   Fertilizer Name  99 non-null     object
dtypes: int64(6), object(3)
memory usage: 7.1+ KB

None

 Data Head Table

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea

 Data Describe Information Table

       Temparature  Humidity    Moisture   Nitrogen  Potassium  Phosphorous
count    99.000000  99.000000  99.000000  99.000000  99.000000    99.000000
mean     30.282828  59.151515  43.181818  18.909091   3.383838    18.606061
std       3.502304   5.840331  11.271568  11.599693   5.814667    13.476978
min      25.000000  50.000000  25.000000   4.000000   0.000000     0.000000
25%      28.000000  54.000000  34.000000  10.000000   0.000000     9.000000
50%      30.000000  60.000000  41.000000  13.000000   0.000000    19.000000
75%      33.000000  64.000000  50.500000  24.000000   7.500000    30.000000
max      38.000000  72.000000  65.000000  42.000000  19.000000    42.000000

 Data Shape: (99, 9)

 Data Columns Index(['Temparature', 'Humidity ', 'Moisture', 'Soil Type', 'Crop Type',
       'Nitrogen', 'Potassium', 'Phosphorous', 'Fertilizer Name'],
      dtype='object')

 Data Null item Information Table

             index  0
0      Temparature  0
1        Humidity   0
2         Moisture  0
3        Soil Type  0
4        Crop Type  0
5         Nitrogen  0
6        Potassium  0
7      Phosphorous  0
8  Fertilizer Name  0

 Data duplicate item Information Table
Duplicated exist False

In [8]:
for column in data.columns :
    print('Number of unique data for {0} is {1}'.format(column , len(data[column].unique())))
    print('unique data for {0} is {1}'.format(column , data[column].unique()))
    print('=====================================')

Number of unique data for Temparature is 14
unique data for Temparature is [26 29 34 32 28 25 33 30 27 31 35 37 36 38]
=====================================
Number of unique data for Humidity  is 13
unique data for Humidity  is [52 65 62 54 50 64 60 58 68 70 67 53 72]
=====================================
Number of unique data for Moisture is 41
unique data for Moisture is [38 45 62 34 46 35 64 50 42 33 28 48 65 41 31 49 39 52 44 53 37 63 30 32
 36 40 27 61 26 58 60 43 29 51 47 54 56 57 55 59 25]
=====================================
Number of unique data for Soil Type is 5
unique data for Soil Type is ['Sandy' 'Loamy' 'Black' 'Red' 'Clayey']
=====================================
Number of unique data for Crop Type is 11
unique data for Crop Type is ['Maize' 'Sugarcane' 'Cotton' 'Tobacco' 'Paddy' 'Barley' 'Wheat' 'Millets'
 'Oil seeds' 'Pulses' 'Ground Nuts']
=====================================
Number of unique data for Nitrogen is 24
unique data for Nitrogen is [37 12  7 22 35  9 41 21 13 14 36 24 10 38 39 11 23  8 15  5 40  6 42  4]
=====================================
Number of unique data for Potassium is 13
unique data for Potassium is [ 0  9 10  7 15 13 14  8 12 18 19 16 17]
=====================================
Number of unique data for Phosphorous is 32
unique data for Phosphorous is [ 0 36 30 20 13 10 18 40 12 22 41 14 19  9 37 29 39 23 31 11 32 24 35 28
  8 21 42 15 33 16 38 17]
=====================================
Number of unique data for Fertilizer Name is 7
unique data for Fertilizer Name is ['Urea' 'DAP' '14-35-14' '28-28' '17-17-17' '20-20' '10-26-26']
=====================================

In [9]:
def make_label_encoder(original_feature , new_feature) :
    enc  = LabelEncoder()
    enc.fit(data[original_feature])
    data[new_feature] = enc.transform(data[original_feature])
    data.drop([original_feature],axis=1, inplace=True)
    enc_type = pd.DataFrame(zip(enc.classes_,enc.transform(enc.classes_)),columns=['Original','Encoded'])
    enc_type.set_index('Original')
    print(enc_type)

In [10]:
make_label_encoder('Soil Type','Soil_Code')

  Original  Encoded
0    Black        0
1   Clayey        1
2    Loamy        2
3      Red        3
4    Sandy        4

e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [11]:
make_label_encoder('Crop Type','Crop_Code')

       Original  Encoded
0        Barley        0
1        Cotton        1
2   Ground Nuts        2
3         Maize        3
4       Millets        4
5     Oil seeds        5
6         Paddy        6
7        Pulses        7
8     Sugarcane        8
9       Tobacco        9
10        Wheat       10

e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [12]:
make_label_encoder('Fertilizer Name','Fertilizer_Code')

   Original  Encoded
0  10-26-26        0
1  14-35-14        1
2  17-17-17        2
3     20-20        3
4     28-28        4
5       DAP        5
6      Urea        6

e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

# **Modelling**

In [13]:
train_main = data.drop('Fertilizer_Code', axis=1).copy()
train_main2 = train_main.drop('Moisture', axis=1).copy()
target = data['Fertilizer_Code'].copy()

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_main2, target, train_size=0.7, shuffle=True, random_state=42)

In [15]:
train_col = X_train.columns
test_col = X_test.columns

In [16]:
train_col

Index(['Temparature', 'Humidity ', 'Nitrogen', 'Potassium', 'Phosphorous',
       'Soil_Code', 'Crop_Code'],
      dtype='object')

In [17]:
X_train

,Temparature,Humidity,Nitrogen,Potassium,Phosphorous,Soil_Code,Crop_Code
94,25,50,24,0,19,1,7
30,29,58,24,0,23,3,2
28,37,70,12,0,39,0,5
89,29,58,11,0,38,2,1
5,26,52,12,10,13,4,0
...,...,...,...,...,...,...,...
60,28,54,36,0,0,1,6
71,31,62,39,0,0,3,9
14,26,52,14,0,41,3,2
92,36,68,41,0,0,3,2
51,36,68,13,0,14,0,5

In [18]:
val = X_test.copy()
val.head()

,Temparature,Humidity,Nitrogen,Potassium,Phosphorous,Soil_Code,Crop_Code
62,34,65,24,0,20,0,1
40,27,54,13,0,13,1,7
95,30,60,4,17,17,3,9
18,28,54,39,0,0,0,1
97,36,60,15,0,41,4,4

In [19]:
from sklearn.preprocessing import MinMaxScaler
ms = MinMaxScaler()
X_train = ms.fit_transform(X_train)
X_test = ms.transform(X_test)
X_train[:5]

e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

array([[0.        , 0.        , 0.52777778, 0.        , 0.45238095,
        0.25      , 0.7       ],
       [0.30769231, 0.36363636, 0.52777778, 0.        , 0.54761905,
        0.75      , 0.2       ],
       [0.92307692, 0.90909091, 0.19444444, 0.        , 0.92857143,
        0.        , 0.5       ],
       [0.30769231, 0.36363636, 0.16666667, 0.        , 0.9047619 ,
        0.5       , 0.1       ],
       [0.07692308, 0.09090909, 0.19444444, 0.52631579, 0.30952381,
        1.        , 0.        ]])

In [20]:
X_test[:5]

array([[ 0.69230769,  0.68181818,  0.52777778,  0.        ,  0.47619048,
         0.        ,  0.1       ],
       [ 0.15384615,  0.18181818,  0.22222222,  0.        ,  0.30952381,
         0.25      ,  0.7       ],
       [ 0.38461538,  0.45454545, -0.02777778,  0.89473684,  0.4047619 ,
         0.75      ,  0.9       ],
       [ 0.23076923,  0.18181818,  0.94444444,  0.        ,  0.        ,
         0.        ,  0.1       ],
       [ 0.84615385,  0.45454545,  0.27777778,  0.        ,  0.97619048,
         1.        ,  0.4       ]])

In [21]:
pickle_out = open('minmax.pkl','wb')
pickle.dump(ms,pickle_out)
pickle_out.close()

In [22]:
X_train = pd.DataFrame(X_train, columns=[train_col])
X_test = pd.DataFrame(X_test, columns=[test_col])

In [23]:
X_train.head()

  Temparature Humidity   Nitrogen Potassium Phosphorous Soil_Code Crop_Code
0    0.000000  0.000000  0.527778  0.000000    0.452381      0.25       0.7
1    0.307692  0.363636  0.527778  0.000000    0.547619      0.75       0.2
2    0.923077  0.909091  0.194444  0.000000    0.928571      0.00       0.5
3    0.307692  0.363636  0.166667  0.000000    0.904762      0.50       0.1
4    0.076923  0.090909  0.194444  0.526316    0.309524      1.00       0.0

In [24]:
X_test.head()

  Temparature Humidity   Nitrogen Potassium Phosphorous Soil_Code Crop_Code
0    0.692308  0.681818  0.527778  0.000000    0.476190      0.00       0.1
1    0.153846  0.181818  0.222222  0.000000    0.309524      0.25       0.7
2    0.384615  0.454545 -0.027778  0.894737    0.404762      0.75       0.9
3    0.230769  0.181818  0.944444  0.000000    0.000000      0.00       0.1
4    0.846154  0.454545  0.277778  0.000000    0.976190      1.00       0.4

## **RandomForest**

In [25]:
from sklearn.ensemble import RandomForestClassifier
RFclassifier = RandomForestClassifier(n_estimators= 10, criterion = 'gini' , random_state= 42)
RFclassifier.fit(X_train, y_train)

e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

RandomForestClassifier(n_estimators=10, random_state=42)

In [26]:
y_pred = RFclassifier.predict(X_test)

e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [27]:
y_pred

array([4, 3, 0, 6, 5, 4, 6, 4, 5, 6, 5, 4, 4, 1, 5, 6, 5, 6, 0, 6, 1, 4,
       0, 2, 5, 1, 1, 6, 2, 5])

In [28]:
from sklearn.metrics import confusion_matrix,classification_report, accuracy_score

accuracy_score(y_test, y_pred)

e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

1.0

In [29]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00         3
           1       1.00      1.00      1.00         4
           2       1.00      1.00      1.00         2
           3       1.00      1.00      1.00         1
           4       1.00      1.00      1.00         6
           5       1.00      1.00      1.00         7
           6       1.00      1.00      1.00         7

    accuracy                           1.00        30
   macro avg       1.00      1.00      1.00        30
weighted avg       1.00      1.00      1.00        30

e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [30]:
# Dump the trained RandomForest classifier with Pickle
RF_pkl_filename = 'RandomForestForFertilizer.pkl'
# Open the file to save as pkl file
RF_Model_pkl = open(RF_pkl_filename, 'wb')
pickle.dump(RFclassifier, RF_Model_pkl)
# Close the pickle instances
RF_Model_pkl.close()

In [31]:
test_col

Index(['Temparature', 'Humidity ', 'Nitrogen', 'Potassium', 'Phosphorous',
       'Soil_Code', 'Crop_Code'],
      dtype='object')

 soil_code

0 )   Black        0

1 )  Clayey        1

2 )   Loamy        2

3 )     Red        3

4 )   Sandy        4


---
    crop_code
0  )       Barley        0

1  )       Cotton        1

2  )  Ground Nuts        2

3  )        Maize        3

4  )      Millets        4

5  )    Oil seeds        5

6  )        Paddy        6

7  )       Pulses        7

8  )    Sugarcane        8

9  )      Tobacco        9

10 )        Wheat       10

---

fertilizer_code

0 ) 10-26-26  =      0

1 ) 14-35-14   =     1

2 ) 17-17-17    =    2

3 )    20-20     =   3

4 )    28-28     =   4

5 )      DAP     =   5

6 )     Urea    =    6

In [9]:
def prediction(Temparature,Humidity,Nitrogen,Potassium,Phosphorous,
       Soil_type,Crop_type):
  if Soil_type == "Black":
    Soil_type=0
  elif Soil_type == "Clayey":
     Soil_type=1
  elif Soil_type == "Loamy":
     Soil_type=2
  elif Soil_type == "Red":
     Soil_type=3
  elif Soil_type == "Sandy":
     Soil_type=4

  if Crop_type == "Barley":
    Crop_type = 0
  elif Crop_type == "Cotton":
    Crop_type = 1
  elif Crop_type == "Ground Nuts":
    Crop_type = 2
  elif Crop_type == "Maize":
    Crop_type = 3
  elif Crop_type == "Millets":
    Crop_type = 4
  elif Crop_type == "Oil seeds":
    Crop_type = 5
  elif Crop_type == "Paddy":
    Crop_type = 6
  elif Crop_type == "Pulses":
    Crop_type = 7
  elif Crop_type == "Sugarcane":
    Crop_type = 8
  elif Crop_type == "Tobacco":
    Crop_type = 9
  elif Crop_type == "Wheat":
    Crop_type = 10

  encoder = pickle.load(open(r'E:\Machine Learning-A-Z-Codes-Datasets\major project\fertilizer prediction\model\minmax.pkl','rb'))
  test_col = ['Temparature', 'Humidity ', 'Nitrogen', 'Potassium', 'Phosphorous',
       'Soil_Code', 'Crop_Code']
  values = [[Temparature,Humidity,Nitrogen,Potassium,Phosphorous,
       Soil_type,Crop_type]]
  values_2 = pd.DataFrame(values, columns=[test_col])
  #print(values)
  new_values = encoder.transform(values_2)
  #print(new_values)

  X_val = pd.DataFrame(new_values, columns=[test_col])
  #print(X_val)
  model = pickle.load(open(r'E:\Machine Learning-A-Z-Codes-Datasets\major project\fertilizer prediction\model\RandomForestForFertilizer.pkl','rb'))
  ans = model.predict(X_val)

  if ans==0:
    ans = "10-26-26"
  elif ans==1:
    ans = "14-35-14"
  elif ans==2:
    ans = "17-17-17"
  elif ans==3:
    ans = "20-20"
  elif ans==4:
    ans = "28-28"
  elif ans==5:
    ans = "DAP"
  elif ans==6:
    ans = "Urea"

  return ans

In [41]:
val.head()

,Temparature,Humidity,Nitrogen,Potassium,Phosphorous,Soil_Code,Crop_Code
62,34,65,24,0,20,0,1
40,27,54,13,0,13,1,7
95,30,60,4,17,17,3,9
18,28,54,39,0,0,0,1
97,36,60,15,0,41,4,4

In [42]:
ans = prediction(34,65,24,0,20,"Black","Cotton")
ans

e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

'28-28'

In [35]:
data.head(65)

,Temparature,Humidity,Moisture,Nitrogen,Potassium,Phosphorous,Soil_Code,Crop_Code,Fertilizer_Code
0,26,52,38,37,0,0,4,3,6
1,29,52,45,12,0,36,2,8,5
2,34,65,62,7,9,30,0,1,1
3,32,62,34,22,0,20,3,9,4
4,28,54,46,35,0,0,1,6,6
...,...,...,...,...,...,...,...,...,...
60,28,54,41,36,0,0,1,6,6
61,30,60,49,13,0,9,2,10,3
62,34,65,64,24,0,20,0,1,4
63,28,54,47,5,18,15,4,0,0
64,27,53,35,37,0,0,0,5,6

## **DecisionTreeClassifier**

In [36]:
from sklearn.tree import DecisionTreeClassifier
model2 = DecisionTreeClassifier()
model2.fit(X_train,y_train)

e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

DecisionTreeClassifier()

In [37]:
y_pred = model2.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.75      1.00      0.86         3
           1       1.00      1.00      1.00         4
           2       1.00      0.50      0.67         2
           3       1.00      1.00      1.00         1
           4       1.00      1.00      1.00         6
           5       1.00      1.00      1.00         7
           6       1.00      1.00      1.00         7

    accuracy                           0.97        30
   macro avg       0.96      0.93      0.93        30
weighted avg       0.97      0.97      0.96        30

e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

In [38]:
import pickle
pickle_out = open('DecisionTreefertilizer.pkl','wb')
pickle.dump(model2,pickle_out)
pickle_out.close()

In [10]:
fertilizer_prediction_path = r"E:\Machine Learning-A-Z-Codes-Datasets\major project\fertilizer prediction\model\RandomForestForFertilizer.pkl"
fertilizer_prediction_model = pickle.load(open(fertilizer_prediction_path,'rb'))

In [11]:
ans = prediction(34,65,24,0,20,"Black","Cotton")
ans

e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

'28-28'

In [12]:
#Temparature	Humidity	Nitrogen	Potassium	Phosphorous	Soil_Code	Crop_Code
ans = prediction(24,104,24,0,20,"Black","Cotton") 
ans

e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but MinMaxScaler was fitted with feature names
  warnings.warn(
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:767: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if not hasattr(array, "sparse") and array.dtypes.apply(is_sparse).any():
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:605: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype):
e:\Machine Learning-A-Z-Codes-Datasets\major project\.venv_2\lib\site-packages\sklearn\utils\validation.py:614: FutureWarning: is_sparse is deprecated and will be removed in a future version. Check `isinstance(dtype, pd.SparseDtype)` instead.
  if is_sparse(pd_dtype) or not is_extension_array_dtype(pd_dtype):

'28-28'